/* Write your code here. */
.thumbnail-list-item {
  margin-bottom: 16px;
  margin-right: 16px;
}
.active {
  opacity: 1;
}
.thumbnail {
  width: 60px;
  height: 60px;
  opacity: 0.5;
}
.image-text {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
